MONGODB_URI=mongodb://127.0.0.1:27017/TransitEase
PORT=5000
FIREBASE_SERVICE_ACCOUNT_KEY='{"type": "service_account", ...}'
# Alternatively, you can encode the JSON string as a single line in the env variable.
